body{
    background-color: rgb(77, 77, 77);
}
.container{
    width: 400px;
    height: 400px;
    border: 3px solid rgb(255, 255, 255);
    margin: 100px auto;
}
.input{
    width: 250px;
    height: 100%;
    margin: 0px auto;
}
.input div:first-child{
    height: 70px;
    background-color: rgb(70, 70, 70);
    margin-top: 40px;
    text-align: center;
    padding-top: 30px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 1px inset black;
    color: rgba(235, 232, 232, 0.87);
}
.input div:nth-child(2){
    width: 250px;
    height: 40px;
    margin-top: 20px;
}
.input div:nth-child(3){
    margin-top: 20px;
}
button{
    border: none;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 6px black;
    color: rgb(206, 206, 205);
}

input{
    padding-left: 50px;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 40px;
    background-color: rgb(70, 70, 70);
    box-shadow: 1px 1px 10px 1px inset black ;
}
img{
    width: 40px;
    height: 40px;
    position: absolute;
}