.container{
    width: 400px;
    height: 500px;
    background-color: gray;
    margin: 0 auto;
    padding:0 70px;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.input{
    padding:8px 0 0 0 ;
}
.input h1{
    text-align: center;
    font-size: 36px;
}
.input p{
    text-align: center;
    font-size: 15px;
}
div input{
    width: 390px;
    height: 60px;
    display: block;
    margin:20px auto 0 auto;
    background-color: gray;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}
div input:focus{
    outline: none;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(19, 150, 19);
}
input::placeholder{
    color: white;
    text-align: center;
}
input[type="button"]{
    background-color: rgb(81, 150, 81);
    color: white;
    text-transform: uppercase;
    
}
