.container{
    width: 680px;
    height: 340px;
    background-color: #1bbc9b;
    margin: 0 auto;
    position: relative;
}
.input{
    width: 360px;
    height: 250px;
    background-color: #eeeff1;
    border-radius: 10px;
    position: absolute;
    left: 215px;
    bottom: 40px;
}
.image{
    width: 100px;
    height: 170px;
    position: absolute;
    top: 50px;
    left: 70px;
}
.image p{
    color: white;
    text-align: center;
}
.image p:last-child{
    font-weight: bold;
    line-height: 5px;
}
.input div:first-child{
    width: 15px;
    height: 15px;
    background-color: #eeeff1;
    position: absolute;
    transform: rotate(45deg);
    left: -5px;
    top: 35px;
}
input{
    width: 310px;
    height: 40px;
    display: block;
    margin: 20px auto 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}
input::placeholder{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
}
button{
    width: 310px;
    height: 40px;
    display: block;
    margin: 0px auto; 
    border: none;
    border-radius: 8px;
    background-color: #1bbc9b; 
    color: white;
    font-size: 16px;
}
a{
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #c0cbcf;
}
.img1{
    position: absolute;
    top: 26px;
    right: 30px;
}
.img2{
    position: absolute;
    top: 90px;
    right: 30px;
}